header{
    background: #BBBBBB;
    padding: 20px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.pgheader{
    position: absolute;
    top: 110px;
    right: 0px;
}

.pgheader li{
    display: inline;
    margin: 0 0 0 15px;
}

.pgheader a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.pgheader a:hover{
    color: #C78c19;
    text-decoration: underline;
}

.titulo-centralizado{
    text-align: right;
    text-transform: uppercase;
    margin: 20px;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 0px;
    position: relative;
    width: 980px;
}

.sobre{
    float: right;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px; 
    }
}

.imagensbeneficios{
    width: 80%;
}
